{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
            font-family: 'IBMPlexSansKR-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        body {
            font-family: 'IBMPlexSansKR-Regular';
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'accounts:index' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signin' %}">로그인</a>
          </li>
          {% else %}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user }}님 환영합니다.
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'accounts:email_box' user.id %}">이메일 박스</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:email_send' user.id %}">이메일 쓰기</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:detail' user.id %}">회원정보</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:update' user.id %}">회원정보수정</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:password' %}">비밀번호변경</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:signout' %}">로그아웃</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:delete' %}">회원탈퇴</a></li>
            </ul>
          </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container text-start mt-5">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>