{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
            font-family: 'IBMPlexSansKR-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        body {
            font-family: 'IBMPlexSansKR-Regular';
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'articles:index' %}">글 목록</a>
        </div>
        <div>
          {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-center">
              <p class="my-auto mx-2">{{ request.user }}님</p>
              <a href="{% url 'accounts:index' %}" class="my-auto mx-2">회원 목록</a>
              <a href="{% url 'accounts:mypage' %}" class="my-auto mx-2">mypage</a>
              <a href="{% url 'accounts:logout' %}" class="my-auto mx-2">로그아웃</a>
            </div>
          {% else %}
            <div class="d-flex justify-content-center">
              <a href="{% url 'accounts:index' %}" class="my-auto mx-2">회원 목록</a>
              <a href="{% url 'accounts:signup' %}" class="my-auto mx-2">회원가입</a>
              <a href="{% url 'accounts:login' %}" class="my-auto mx-2">로그인</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <div class="container text-start mt-5">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>